<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>MindSearch</title>
    <style>
        .home-content {
            margin-top: 30vh;
        }

        body {
            background-color: #fafafa;
        }
    </style>
</head>

<body>
<div class="container">
    <div class="home-content">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="display-4 tex">MindSearch</h3>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form class="input-group input-group-lg" action="/search" method="get">
                    <input type="text" class="form-control" name="keyword"
                           placeholder="Search topics or keywords">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-secondary">Search</button>
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
    </div>
</div>

<script src="/static/js/jquery-slim.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>